<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search for a joke term</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <a href="/"><button>Home</button> </a>
      <a href="/joke"> <button>Mood Based Jokes</button></a>
      <a href="/search"><button>Search For A Joke</button></a>
    </div>

    <div class="search-container">
      <h2 class="title">Get a Joke</h2>

      <div class="form-search-container">
        <form action="/search" method="POST" class="joke-form">
          <div class="form-group">
            <p id="keyword">search for a keyword</p>
            <input type="text" name="search" id="search" />
            <button type="submit" class="submit-btn" id="submit2">
              Give me the jokes
            </button>
          </div>

          {% if error %}
          <p>{{error}}</p>
          {% endif %} {% if jokes %}
          <style>
            .search-container {
              background: none;
              border: none;
              box-shadow: none;
            }
          </style>
          <table id="table">
            <tbody>
              {% for i in range(0, jokes|length, 5) %}
              <tr>
                {% for joke in jokes[i:i+5] %}
                <td>{{ joke.joke }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </form>
        <a href="/"
          ><button id="home" class="search-home">Back to Home</button></a
        >
      </div>
    </div>
  </body>
</html>
